<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="SampleBars.dll" Guid="{CA4782FB-CC20-4C42-9B6F-A0D0F9CFE533}">
                <Class Id="{D738ECB9-36D4-4E33-B516-909F26995B9E}" Context="InprocServer32" Description="NetSpeedViewer Bar" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="SampleBars.HelloWorldBar" Description="SampleBars.HelloWorldBar" />
                </Class>
                <File Id="SampleBars.dll" KeyPath="yes" Source="SourceDir\SampleBars.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\Implemented Categories\{00021492-0000-0000-C000-000000000046}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\Implemented Categories\{00021494-0000-0000-C000-000000000046}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32\1.0.0.1" Name="Class" Value="SampleBars.HelloWorldBar" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32\1.0.0.1" Name="Assembly" Value="SampleBars, Version=1.0.0.1, Culture=neutral, PublicKeyToken=4b827ebe229d539f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32\1.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32\1.0.0.1" Name="CodeBase" Value="file:///[#SampleBars.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32" Name="Class" Value="SampleBars.HelloWorldBar" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32" Name="Assembly" Value="SampleBars, Version=1.0.0.1, Culture=neutral, PublicKeyToken=4b827ebe229d539f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}\InprocServer32" Name="CodeBase" Value="file:///[#SampleBars.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}" Name="MenuText" Value="NetSpeedViewer Bar" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D738ECB9-36D4-4E33-B516-909F26995B9E}" Name="HelpText" Value="Shows your current network traffic." Type="string" Action="write" />
                <RegistryValue Root="HKLM" Key="Software\Microsoft\Internet Explorer\Toolbar" Name="{d738ecb9-36d4-4e33-b516-909f26995b9e}" Value="NetSpeedViewer Bar" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>